@import "../../styles/Variables.scss";

.button {
  height: 68px;
  width: 100px;
  background-color: $secondary;
  margin: 10px;
  font-size: 30px;
  border: 5px solid $primary;
  border-radius: 15px;
  cursor: pointer;
}
  
.button:hover {
  background-color: $primary;
}
  
.button:last-child {
  width: 100%;
  align-items: center;
  margin-top: 5px;
}

/* MOBILE */
@media (max-width: 767px) {
  .button {
    height: 45px;
    width: 50px;
    font-size: 15px;
  }  

  .button:last-child {
    margin: 0;
  }
}

/* IPAD */
@media (min-width: 768px) and (max-width: 1023px) {
  .button {
    height: 45px;
    font-size: 15px;
  }
  
  .button:last-child {
    margin: 0;
  }
}

/* NEST */
@media (min-width: 1024px) and (min-height: 600px) {
  .button {
    height: 35px;
    font-size: 15px;
  }  

  .button:last-child {
    margin: 0;
  }
}

/* NEST HUB MAX */
@media (min-width: 1024px) and (min-height: 800px) {
  .button {
    height: 60px;
    font-size: 25px;
  }
}

/* DESKTOP */
@media (min-width: 1920px) and (min-height: 900px) {
  .button {
    height: 80px;
    font-size: 25px;
  }
  
  .button:last-child {
    margin: 0;
  }
}