@import "./styles/Variables.scss";

body {
  font-family: monospace;
  background: linear-gradient(35deg, $secondary 51.03%, $primary);
  color: $foreground;
  padding: 0 30px;
  margin: 0;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
}
