$primary: #FF9500;
$secondary: #404040;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

body {
  font-family: monospace;
  background: linear-gradient(35deg, #404040 51.03%, #FF9500);
  color: $foreground;
  padding: 0 30px;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  width: 500px;
  margin-top: 100px;
  border: 5px solid $primary;
  border-radius: 15px;
  padding: 20px;
}

.result {
  width: 100%;
  height: 50px;
  padding: 2px;
  margin-bottom: 5px;
  background-color: $secondary;
  color: $disabled;
  font-size: 35px;
  text-align: center;
  border: 0.5px solid $primary;
  border-radius: 5px;
}

.button {
  height: 100px;
  width: 100px;
  background-color: $secondary;
  margin: 10px;
  font-size: 30px;
  border: 5px solid $primary;
  border-radius: 15px;
  cursor: pointer;
}

.button:last-child {
  width: 100%;
  align-items: center;
  margin-top: 5px;
  padding: 0 39px;
}